%%-*- mode: erlang -*-

{lib_dirs, ["deps"]}.


{erl_opts,
 [{i, "deps"},
  {src_dirs, ["src"]},
  debug_info
 ]
}.

{deps, [


    {edown, ".*",
     {git, "git://github.com/esl/edown.git", {tag, "0.4"}}}
]}.

{edoc_opts, [{application, ["rbeacon"]},
             {doclet, edown_doclet},
             {subpackages, false},
             {top_level_readme,
              {"./README.md", "http://github.com/refuge/rbeacon"}}]}.
